@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

/*START RESET CSS*/

* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    min-height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

.flex {
    display: flex;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix:after {
    content: '';
    display: none;
    clear: both;
}

.overflow {
    overflow: hidden;
}

/*END RESET CSS*/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    width: 80%;
    margin: 0 auto;
}

/*HEADER START*/

.nav-header {
    margin-top: 40px;
}

ul.flex {
    justify-content: center;
}

.nav-header li {
    margin-right: 100px;
    color: #cacaca;
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.nav-header li:last-of-type {
    margin-right: 0;
}

.nav-header a {
    padding: 5px 15px;
    border-bottom: solid 2px #FFFFFF;
}

.nav-header a:hover{
    border-bottom: solid 2px #cacaca;
    color: #505050;
}

/*HEADER END*/
/*MAIN START*/

main.flex {
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 60px;
}

/*SECTION ONE START*/

section.solo {
    flex-flow: row wrap;
    justify-content: space-between;
}

section.solo article {
    flex-basis: 40%;
    min-width: 200px;
    text-align: left;
}

section.solo h1 {
    margin-top: 40px;
    font-size: 2.7rem;
    font-weight: 400;
    text-transform: uppercase;
}

section.solo p {
    margin-top: 30px;
}

section a {
    display: inline-block;
    padding: 10px 35px;
    margin-top: 40px;
    border-radius: 30px;
    color: #FFFFFF;
    text-transform: uppercase;
    background: rgba(255, 0, 0, 0.7);
}

section a:hover {
    background: rgba(255, 0, 0, 1);
}

section.solo figure {
    flex-basis: 50%;
    min-width: 200px;
}

section.solo img {
    width: 100%;
}
/*SECTION ONE END*/
/*SECTION TWO START*/

section.power {
    flex-flow: row wrap;
    justify-content: center;
    background: #fbfcff;
    margin-top: 60px;
}

section.power figure {
    flex-basis: 50%;
    min-width: 200px;
    padding: 20px;
}

section.power img {
    width: 100%;
}

section.power article {
    flex-basis: 50%;
    min-width: 200px;
    padding-left: 20px;
}

section.power h1 {
    margin-top: 60px;
    margin-right: 60px;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
}

section.power .sub-title {
    display: block;
    font-size: 1.1rem;
}

section .bold {
    font-weight: 700;
}

section.power p {
    margin: 60px 40px 60px 0;
}

section.power .price {
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    padding-left: 20px;
    line-height: 40px;
    vertical-align: bottom;
    position: relative;
}

section.power .price::before {
    content: '\0024';
    position: absolute;
    top: 0;
    left: 0;
}

section.power a {
    margin-left: 40px;
}

/*SECTION TWO END*/
/*SECTION THREE START*/

section.try-it {
    margin-top: 60px;
}

section.try-it article:first-of-type {
    background: #575757;
    color: #FFFFFF;
    padding-top: 60px;
    padding-bottom: 1px;
}

section.try-it h2.with-icon {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 400;
    width: 700px;
    margin: 0 auto;
    padding-left: 120px;
    position: relative;
}

section.try-it h2.with-icon::before {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    background: url("img/beats-logo-small-white.png") center/contain;
    position: absolute;
    top: -25px;
    left: 35px;
}

section.try-it a {
    display: block;
    width: 200px;
    padding: 0 0 10px 10px;
    margin: 40px auto;
    background: none;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0;
    border-bottom: solid 1px #FFFFFF;
}

section.try-it article:nth-of-type(2) {
    background: #dadada;
}

section.try-it figure.left {
    width: 50%;
    height: 500px;
    background: url('img/beats-girl.png') center/cover;
}

section.try-it figure.right {
    width: 20%;
    height: 500px;
    background: url('img/beats-red.png') no-repeat center/cover;
    background-size: 90% 90%;
}

article.overflow span,
article.overflow h2 {
    display: inline-block;
}

section.try-it h2 {
    width: 30%;
    font-size: 2rem;
    font-weight: lighter;
    text-align: center;
    margin-top: 60px;
}

section.try-it .sup-title {
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
}

section.try-it .red {
    color: red;
    text-transform: uppercase;
    font-weight: 700;
}

/*SECTION THREE END*/
/*MAIN END*/
/*FOOTER START*/

footer {
    line-height: 40px;
    text-align: center;
    color: #3e3e3e;
}

footer p::after {
    content: '\00A9';
}

/*FOOTER END*/
























