@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html {
    font-family: 'Tahoma', 'Helvetica', sans-serif;
    font-size: 13px;
}

body {
    background: #ebebeb;
}

.header {
    max-width: 1024px;
    min-width: 300px;
    background: #f1f1f1;
    margin: 0 auto;
    height: 80px;
    line-height: 80px;
}

h1 {
    font-size: 2.5rem;
    color: #32a2e4;
    font-weight: 500;
    margin-left: 20px;
}

.main {
    max-width: 1024px;
    margin: 30px auto;
}

.upper-block {
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 10px;
    border-bottom: dashed 2px lightgray;
}

.info-block p {
    margin-top: 20px;
    min-width: 300px;
    max-width: 800px;
}

.search-block {
    align-self: flex-end;
    position: relative;
}

.search-block label {
    font-weight: bold;
}

.search-block::after {
    font-family: 'FontAwesome', serif;
    content: "\f002";
    position: absolute;
    right: 10px;
    bottom: 7px;
    font-size: 1rem;
}

.bottom-block {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: dashed 2px lightgray;
}

.person-details-block {
    width: 300px;
    margin-top: 30px;
}

.request-block {
    min-width: 300px;
    max-width: 500px;
    margin-top: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.request-block h3 {
    flex-basis: 100%;
}

.room-select select {
    width: 300px;
}

.check-in>input, .check-out>input {
    width: 225px;
}

input, select {
    width: 150px;
    outline: none;
    height: 25px;
    border: solid 1px lightgray;
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 5px;
}

label {
    display: block;
    margin-top: 20px;
}

.button {
    padding: 0;
    width: 100px;
    color: #FFFFFF;
    background: #32a2e4;
    cursor: pointer;
}

.button:hover {
    background: #3bbc96;
}