@media screen and (max-width: 640px) {
    .nav-primary {
        flex-direction: column;
        align-items: center;
    }

    .nav-item {
        margin-bottom: 20px;
    }

    .nav-item a {
        margin: 0;
    }

    .solo, .studio {
        text-align: center;
    }

    .second-row {
        flex-flow: column;
    }

    .mixr-left, .urbeats-right {
        width: auto;
        align-items: center;
    }

    .grid-gallery {
        text-align: center;
    }

    .product-img {
        width: 45%;
    }
}