@import url('https://fonts.googleapis.com/css?family=Lemon');

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Lemon', 'Arial', cursive;
    font-size: 15px;
    box-sizing: border-box;
    background-color: #602d75;
    text-align: center;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.main {
    width: 900px;
    background-color: #ffae32;
    border-radius: 20px;
    margin: 40px auto;
    display: inline-block;
}

.main h1 {
    font-size: 1.5rem;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    margin-top: 20px;
}

.article {
    float: left;
    background-color: #5f2056;
    width: 220px;
    border-radius: 10px 0 10px 0;
    margin: 20px 40px;
}

.article .price {
    font-size: 1.5rem;
    color: #FFFFFF;
    text-align: center;
}

.article .guarantee {
    text-align: center;
    font-size: 1rem;
    color: #ffae32;
}

.article img {
    width: 200px;
    border: solid 4px #826B73;
    border-radius: 50%;
    margin: 10px;
}

.article img:hover {
    border: solid 4px red;
}

.article p {
    text-align: left;
    font-size: 1rem;
    color: #FFFFFF;
    margin-left: 20px;
}

.article button {
    width: 180px;
    margin: 20px;
    height: 30px;
    font-family: inherit;
    font-size: 1rem;
    color: #a668ff;
    background-color: #ffffff;
    border-radius: 15px;
    cursor: pointer;
}

.article button:hover {
    color: #000000;
}